<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Witcher</title>
    <link rel="stylesheet" type="text/css" href="styles/default.css">
</head>
<body>
    <h1>Weather Witcher</h1>

    <h2>Tell me your location</h2>
    <form action="/search" method="POST">
        <label for="searchInput"></label>
        <input type="text" id="searchInput" name="search">
        <button id="search-button" type="submit">Search</button>
    </form>

    <%# This part renders the weather information of the specified location %>
    <% if (locals.data) { %>
        <h3>
            <%= data.city %>
            <img src="https://flagsapi.com/<%= data.country %>/flat/64.png" alt="Flag of the country">
        </h3>
        <h4> <%= data.temp %> </h4>
        <p> <%= data.weather %> </p>
        <p> <%= data.hum %>% </p>
        <p> <%= data.winspeed %>m/s </p>
    <% } else { %>
    <% } %>
</body>
</html>
